

#bannerWrapper{
  position: relative;
  text-align: center;
  color: white;
 
}

#bannerWrapper img{
  object-fit: cover;
  width: 100%;
  height: 250px;
  overflow-y: hidden;
}

.bannerText {
  text-shadow: 2px 2px 10px black;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layoutTestRed{
  /* background-color: red; */
  float: left;
  width: 66%;
  height: 56vh;
  overflow-wrap: normal;
  overflow:hidden;

}


.layoutTestYellow{
  /* background-color: yellow; */
  width: 100%;
  height: 60vh;
  padding: 20px;
}


.layoutTestGreen{
  background-color: black;
  border-top: 3px solid purple;
  width: 100%;
  height: 50vh;
}


.layoutTestBlue{
  background-color: blue;
 padding-right: 20px;
  float: left;
  width: 34%;
  height: 56vh;
  overflow: hidden;
}

.layoutElements{
  height: 400vh;
  /* border: 1px solid black;  */
  position: relative;
  width: 32%;
  height: 28vh;
  float: right;
  justify-content: space-evenly; 
  object-fit: contain;
  overflow: hidden;
  color: white;

}

.layoutElements img{
  width: 600px;


}

.layoutElements img:hover{
  transform: scale(1.5); 
   border: 2px solid yellow;
  box-shadow: 10px 10px 5px yellow;
}

.pageContain {
  height:100vh;
  overflow-y: hidden;
}


.imgWithText{
  position: relative;
  text-align: left;
  color: black;
  text-align: left 
  
}
.bottom-left {
  padding: 5px;
  bottom: 8px;
  left: 16px;
} 