/* html {
  background-color: #f0f0f0;
} */

.navbar {
  /* background-color:  brown !important; */
}

#bannerWrapper{
  position: relative;
  text-align: center;
  color: white;
 
}

#bannerWrapper img{
  object-fit: cover;
  width: 100%;
  top: -100px;
  height: 550px;
  overflow-y: hidden;
}

.icon {
  margin: 10px;
}

.bannerText {
  text-shadow: 2px 2px 10px black;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layoutHomeRight{
  float: left;
  width: 56%;
  height: 56vh;
  overflow-wrap: normal;
  overflow:hidden;
}

.divider {
  background-color: brown;
  width: 100%;
  height: 20vh;
  float: left;
}

#icon {
  padding-right: 5px;
}

ul li {
  list-style: none;
}

.styleOfHeaderHome
{
  /* border-bottom: 5px solid brown; */
  padding: 10px;
  margin-bottom: 20px;
  width: 50vw;
}

.underline  {
  position: relative;
  /* border-bottom: 5px solid brown; */
   /* padding: 10px; */
   
  
}
 /* .underline:hover {
  /* border-bottom: 5px solid brown; */   
.underline::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  /* background-color: brown; */
  background-color: hsl(199, 85%, 63%);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.8s ease-in-out 0s;
  /* margin-top: 20px; */
  margin-bottom: -20px;
}

.underline:hover::before{
  visibility: visible;
  transform: scaleX(1);
}


.yellowText {
  color: yellow;
}

h2 {
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
 float: left;
}

.footText {
  text-shadow: 1px 1px 3px white;
  bottom: 0px;
  margin-top: 80px;
}

.layoutPageBody{
  background-color: #f0f0f0; 
  width: 100%;
  height: 100vh;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
}
html{
  background: white;
}
.layoutFooter{
  background-color: hsl(199, 40%, 51%);
  width: 100%;
  height: 35vh;
  background-image: url('./assets/skybottom.png');
  background-size: cover;
  background-blend-mode: multiply;
  /* border-top: 2px dashed white; */
  margin-top: 20px; 
  float: left;
  
}

.layoutHomeLeft{
  float: left;
  width: 44%;
  height: 56vh;
  overflow: hidden;
}

.layoutHomeLeft img{
  float: left;
  height: 56vh;
  overflow: hidden;
}

.gridElements{
  height: 400vh;
  position: relative;
  width: 32%;
  height: 28vh;
  float: right;
  justify-content: space-evenly; 
  object-fit: contain;
  overflow: hidden;
  color: white;
}

.gridElements img{
  width: 600px;
}

.gridElements img:hover{
  transform: scale(1.5); 
   border: 2px solid yellow;
  box-shadow: 10px 10px 5px yellow;
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
}

.imgWithText{
  position: relative;
  text-align: left;
  color: black;
  text-align: left 
  
}
.bottom-left {
  padding: 5px;
  bottom: 8px;
  left: 16px;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
} 

.footer{
  padding: 20px;
  /* flex-shrink: 0; */
  /* position:fixed; */
}

.whiteText {
  color: white;
}

.blurb{
  float: left;
  margin-bottom: 20px;
}

a:link {
  color: inherit; 
}

a:visited {
  color: inherit; 
 text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: brown;
  
}

a:active {
  color: inherit; 
  text-decoration: none;
}

.infoBlock {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: auto auto;
  width: 90%;
  height: 90%;
  overflow-y: auto;
  box-shadow: 2px 2px 10px black;
}

<<<<<<< HEAD
=======
.contactHeader{
  border-bottom: 5px solid brown;
}

 .buttons{
  background-color: hsl(199, 40%, 51%) !important;
} 

.pageHeading{
  margin-top: 10px;
  margin-bottom: 50px;
}

.navUnderline{
  position: relative;
}

.navUnderline::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  /* background-color: brown; */
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-in-out 0s;
  color: white !important;
  /* margin-top: 20px; */
  /* margin-bottom: -20px; */
}

.navUnderline:hover::before{
  visibility: visible;
  transform: scaleX(1);
}

 /* .line{
  border-left: 5px solid  hsl(199, 40%, 51%);
  height: 30px;
  display: flex;
  justify-content: space-between;
    } */
  

>>>>>>> 96652a386765285b6e1233f99ba6d60c9476fd04
